@model IEnumerable<CityLibrarySYS_DesignPatterns.Models.Book>

<h2>Books</h2>

<table class="table">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Publication</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.ISBN</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Genre</td>
                <td>@book.Publication.ToShortDateString()</td>
                <td>@book.Status</td>
            </tr>
        }
    </tbody>
</table>
