@model IEnumerable<CityLibrarySYS_DesignPatterns.Models.Member>

@{
    ViewData["Title"] = "Members";
}

<h1>Library Members</h1>

<p>
    <a asp-action="Create">Register New Member</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => member.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => member.LastName)</td>
                <td>@Html.DisplayFor(modelItem => member.Email)</td>
                <td>
                    @* FIX: Changed comparison from "A" (string) to 'A' (char) to match the Member.Status type. *@
                    @if (member.Status == 'A')
                    {
                        <span>Active</span>
                    }
                    else if (member.Status == 'S')
                    {
                        <span class="text-danger">Suspended</span>
                    }
                    else
                    {
                        <span>Unknown</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@member.MemberId">Edit</a> |
                </td>
            </tr>
        }
    </tbody>
</table>