@model IEnumerable<CityLibrarySYS_DesignPatterns.Models.Member>

@{
    ViewData["Title"] = "Member List";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">📚 Member Management</h1>
        <p class="text-center">
            <a asp-action="Create" class="btn btn-success">
                <i class="bi bi-person-plus-fill"></i> Register New Member
            </a>
        </p>

        <table class="table table-striped table-hover mt-4">
            <thead>
                <tr class="table-primary">
                    <th>@Html.DisplayNameFor(model => model.MemberID)</th>
                    <th>@Html.DisplayNameFor(model => model.Forename)</th>
                    <th>@Html.DisplayNameFor(model => model.Surname)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.Phone)</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.MemberID)</td>
                        <td>@Html.DisplayFor(modelItem => item.Forename)</td>
                        <td>@Html.DisplayFor(modelItem => item.Surname)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                        <td>
                            @(item.Status == "A" ? "Active" : "Inactive")
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.MemberID" class="btn btn-sm btn-info">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>